django==3.1.2
psycopg2>=2.8.6,<2.9.1
djoser==2.0.5
djangorestframework==3.11.2 # https://github.com/sunscrapers/djoser/issues/541
markdown==3.3 
django-filter==2.4.0
django_cors_headers==3.5.0
Jinja2==3.0.1
django-extensions==3.1.3
django-debug-toolbar==3.2.1
Werkzeug==2.0.1


astroid==2.0.4
autopep8==1.4.3
colorama==0.4.0
dj-static==0.0.6
django-appconf==1.0.2
django-bootstrap-modal-forms==1.3.1
django-staticfiles==1.2.1
django-widget-tweaks==1.4.3
et-xmlfile==1.0.1
isort==4.3.4
jdcal==1.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
openpyxl==2.6.1
pycodestyle==2.4.0
pylint==2.1.1
python-dateutil==2.8.0
pytz==2018.7
six==1.11.0
static3==0.7.0
wrapt==1.10.11
