#main-blog{
    padding-top: 2em;
    padding-bottom: 2em;
    clear: both;
    width: 100%;
    display: block;
}

.main-blog-content{
    padding: 0 2.5em;
}

.blog-desc div iframe{
    height: 1000px !important;
}
