{% extends 'wopr/layout.html' %} {%block content %}
<div class="container-fluid">
  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Select a Site</a></li>
    <li class="breadcrumb-item active">404 Error</li>
  </ol>

  <!-- Page Content -->
  <h1 class="display-1">404</h1>
  <p class="lead">
    Page not found. You can <a href="javascript:history.back()">go back</a> to
    the previous page, or <a href="{% url 'index' %}">return home</a>.
  </p>

  <div>
      <form action="{% url '404' %}" method="post">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
            </table>
          <input class='btn-success' type="submit" value="Submit">
      </form>
  </div>
</div>

<!-- /.container-fluid -->

{% endblock %}
